.vscode/settings.json
.htaccess
legacy/.htaccess
legacy/cache/**/*
legacy/custom/modules/*/logic_hooks.php
legacy/custom/modules/*/Ext/Vardefs/vardefs.ext.php
legacy/minthcm.log
api/configs/mint/config_override.php
index.html
install.log
legacy/.htaccess
legacy/config.php
legacy/config_override.php
legacy/config_si.php
legacy/custom/Extension/modules/Meetings/Ext/Vardefs/_override_sugarfield_jjwg_maps_address_c.php
legacy/custom/Extension/modules/Meetings/Ext/Vardefs/_override_sugarfield_jjwg_maps_geocode_status_c.php
legacy/custom/Extension/modules/Meetings/Ext/Vardefs/_override_sugarfield_jjwg_maps_lat_c.php
legacy/custom/Extension/modules/Meetings/Ext/Vardefs/_override_sugarfield_jjwg_maps_lng_c.php
legacy/custom/Extension/modules/Project/Ext/Vardefs/_override_sugarfield_jjwg_maps_address_c.php
legacy/custom/Extension/modules/Project/Ext/Vardefs/_override_sugarfield_jjwg_maps_geocode_status_c.php
legacy/custom/Extension/modules/Project/Ext/Vardefs/_override_sugarfield_jjwg_maps_lat_c.php
legacy/custom/Extension/modules/Project/Ext/Vardefs/_override_sugarfield_jjwg_maps_lng_c.php
legacy/custom/application/Ext/LogicHooks/logichooks.ext.php
legacy/custom/include/tabConfig.php
legacy/custom/modules/Home/dashlets.php
legacy/custom/modules/logic_hooks.php
legacy/include/ViewTools/Expressions/cache.php
legacy/include/ViewTools/Expressions/rebuild.lock
legacy/install.log
legacy/install/status.json
legacy/search_index.log
legacy/suitecrm.log

api/app/Config/AppConfig.php
install/assets/status.json
legacy/cache/include/javascript/sugar_field_grp.js
legacy/cache/include/javascript/sugar_grp1.js
legacy/cache/include/javascript/sugar_grp1_jquery.js
legacy/cache/include/javascript/sugar_grp1_yui.js
legacy/cache/include/javascript/sugar_grp_emails.js
legacy/cache/include/javascript/sugar_grp_jsolait.js
legacy/cache/include/javascript/sugar_grp_project.js
legacy/cache/include/javascript/sugar_grp_project_template.js
legacy/cache/include/javascript/sugar_grp_quickcomp.js
legacy/cache/include/javascript/sugar_grp_yui2.js
legacy/cache/include/javascript/sugar_grp_yui_widgets.js
legacy/custom/modules/Positions/logic_hooks.php
legacy/include/ViewTools/Expressions/VTExpression_getUploadMaxsize.php
legacy/include/ViewTools/Expressions/documentation.html
legacy/include/ViewTools/javascript/viewTools.cache.js

legacy/include/ViewTools/javascript/viewTools.cache.js
legacy/include/ViewTools/Expressions/documentation.html