<IfModule mod_rewrite.c>
    Options +SymLinksIfOwnerMatch
    RewriteEngine On
    RewriteBase __BASE_PATH__

    RewriteRule ^assets/(.*?)$ assets/$1 [L]
    RewriteRule ^legacy/(.*?)$ legacy/index.php/$1 [L]
    RewriteRule ^api/(.*?)$ api/index.php [L]
    RewriteRule ^bg.jpg$ bg.jpg [L]
    RewriteRule ^favicon.ico$ favicon.ico [L]
    RewriteRule ^Api/(.*?)$ legacy/Api/$1 [L,QSA]
    RewriteRule ^service/(.*?)$ legacy/service/$1 [L,QSA]
    RewriteRule ^index.php$ legacy/index.php [L]

    RewriteRule .* index.html [L]
</IfModule>

<IfModule mod_headers.c>
    <Files "index.html">
        Header set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
        Header set Pragma "no-cache"
        Header set Expires "Thu, 01 Jan 1970 00:00:00 GMT"
    </Files>
</IfModule>
