.MintHCMPopup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    .MintHCMPopup-container {
        min-width: 400px;
        max-height: 400px;
        background-color: $color-101;

        .MintHCMPopup-header {
            color: $color-103;
            background-color: $color-102;
            padding: 10px 20px;
            word-wrap: break-word;

            span {
                display: none;
            }
        }

        .MintHCMPopup-close {
            .MintHCMPopup-title {
                float: left;
                width: 94%;
            }

            span {
                display: block;
                float: right;
                cursor: pointer;
                width: 4%;
                font-size: 18px;
                margin-top: 2px;
            }
        }

        .MintHCMPopup-body {
            max-height: 500px;
            overflow-y: auto;
            padding: 32px 16px;
            word-wrap: break-word;

            @media only screen and (max-width: 1024px) {
                max-height: 250px;
            }
        }

        .MintHCMPopup-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 16px;
            border-top: thin solid #0002;

            div {
                display: flex;
                gap: 4px;
                input[type=button] {
                    margin: 0;
                }
            }
        }

        .MintHCMPopup-load {
            width: 100%;
            height: 100%;


            img {
                image-rendering: auto;
                width: 50px;
                height: 50px;
                margin-left: 40px;
                float: left;
            }
        }

        .MintHCMPopup-load-message {
            width: 100%;
            height: 100%;

            span {
                margin-left: 20px;
                margin-top: 20px;
                font-size: 20px;
            }
        }
    }
}