#mintNews {
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
    position:fixed; 
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;

    .close-button {
        position: fixed;
        color: #ffffff;
        top: 30px;
        right: 30px;
        font-size: 20px;
    }

    > div {
        width: 1000px; 
        margin: 20px 0;

        @media only screen and (max-width: 1024px) {
            width: 100%;
        }

        .mintNews-box-header {
            width: 100%;
            padding: 8px;
            word-wrap: break-word;
        }

        .mintNews-box-content {
            display: flex;
            align-items: center;
            min-height: 50px;
            padding: 8px;

            @media only screen and (max-width: 1024px) {
                display: block;
            }

            .mintNews-box-text {
                width: 880px;
                padding-right: 10px;
                word-wrap: break-word;

                @media only screen and (max-width: 1024px) {
                    width: 100%;
                    padding: 0;
                }
            }

            .mintNews-box-button {
                display: flex;
                justify-content: flex-end;

                @media only screen and (max-width: 1024px) {
                    width: 100%;
                    padding-top: 3px;
                    justify-content: center;
                }

                input {
                    margin: 0;
                }
            }
        }

        .mintNews-box-comments {
            height: max-content;
            overflow: auto;
            padding: 8px;
            max-height: 400px;
        }
    }

    .mintNews-announcement {
        background-color: #63c19a;

        .mintNews-box-header {
            color: #ffffff;
            background-color: #009975;
        }

        .mintNews-box-content .mintNews-box-text {
            color: #ffffff;
        }
    }


    .mintNews-reminder {
        background-color: #eaeaea;

        .mintNews-box-header {
            color: #EAEAEA;
            background-color: #646464;
        }

        .mintNews-box-content {
            .mintNews-box-text {
                color: #009975;
            }

            .mintNews-box-button { 
                flex-direction: column;
                align-items: center;

                input:nth-child(2) {
                    font-size: 11px;
                    padding: 0 10px 0 10px;
                    margin-top: 5px;
                }
            }
        }
    }
}