.viewTools-tooltip-alert {
    color: #f2f2f2;
    position: fixed;
    top: 20px;
    left: 50%;
    border-radius: 5px;
    transform: translateX(-50%);  
    z-index: 99999;
} 
.viewTools-tooltip-alert .viewTools-tooltip-msg { 
    padding: 12px 25px;
}
.viewTools-tooltip-alert p { 
    margin: 0;
}
.viewTools-tooltip-info-box {
    background-color: #2fa9f6;
}
.viewTools-tooltip-success-box {
    background-color: #7eb82e; 
}
.viewTools-tooltip-error-box {
    background-color: #f86a54; 
}
.viewTools-tooltip-notice-box {
    background-color: #dcaf09;
}
.panel .panel-heading a.subpanel-has-records{
    background-color: $color-97;
}