.dashletPanel td, .dashletPanel th {
    padding: 0px;
    //padding-left: $mint-rem;
}

#dlg .bd {
    overflow-y: scroll !important;
}

.dashletcontainer > ul > li > .dashletPanel {
  @include BoxShadow(1);
  border-radius: 4px;
  overflow-x: hidden;
}

.TWSDashlet {
  margin-top: 0;
  padding: 0 $mint-rem;

  table {
    min-height: 54px;
  }
}

.TWSListBody td {
    text-align: left;
}

.TWSToolbar {
    margin-bottom: 0;
}

.card {
  padding: $mint-rem $mint-rem * 2;
  @include BoxShadow(1);
  border-radius: 4px;
  background-color: #fff;
}

.TimePanel .time-cell {


  &.orangeColor {
    background-color: $color-mint-orange;
    @include BoxShadow(1);
    color: #fff;
    &:hover {
      background-color: $color-mint-orange-lighter;
    }
  }

  &.yellowColor {
    background-color: $color-mint-yellow;
    @include BoxShadow(1);
    color: #000;
    &:hover {
      background-color: $color-mint-yellow-lighter;
    }
  }

}

.bd-center > br {
  display: none;
}

select {
  height: $mint-rem * 2;
  line-height: $mint-rem * 2;
  max-width: unset !important;
}

input[type=text] {
  background: none;
}

.fc-event {
  border: none !important;
  border-radius: 4px !important;
  @include BoxShadow(1);
  padding: $mint-rem / 4;
}

.listViewButtons input[type=submit] {
  //color: #fff;
}
