.button:active, .button:focus {
    background-color: $edit-view-button-background-active;
}

option:checked {
    color: $edit-view-option-checked-color;
}

.col-sm-12 .col-sm-8.edit-view-field textarea {
    width: 100%;
}

@media (min-width: 1024px) {
    .col-sm-12 .col-sm-8.edit-view-field textarea {
        width: 120%;
    }
}

#save_and_continue {
    background-color: $color-mint-darkgreen;
    color: $color-101;
}

.pagination-label{
    color: $color-101;
}

.col-sm-12 div[field="appraisal_items_inline"].edit-view-field {
    width: 100%;

    textarea[name^="appraisal_item_description["] {
        font-weight: normal; padding-top: 5px;
    }

    input[name^="parent_name"]{
        margin-top: 0px; margin-left: 10px;
    }

    @media (max-width: 1023px) {
        input[name^="parent_name"]{
            width: 30%;
        }
    }

    @media (max-width: 768px) {
        input[name^="parent_name"]{
            width: 50%;
        }
    }

    @media (min-width: 1024px) {
        input[name^="parent_name"]{
            width: 45%;
        }
    }

    span.id-ff button {
        margin: 0px;
    }



}
