#MintHCMPopup {
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.5); 
    position:fixed; 
    left: 0;
    top: 0;
    z-index: 9999;

    .MintHCMPopup-container {
        min-width: 400px; 
        max-height: 400px; 
        background-color: $color-101;
        position: fixed; 
        top: 50%; 
        left: 50%; 
        margin-left: -200px; 
        margin-top: -200px;

        @media only screen and (max-width: 1024px) {
            width: 80%; 
            margin-left: -40%;
        }

        .MintHCMPopup-header { 
            color: $color-103; 
            background-color: $color-102; 
            padding: 10px 20px;
            word-wrap: break-word;

            span {
                display: none;
            }
        }

        .MintHCMPopup-close {
            .MintHCMPopup-title {
                float: left;
                width: 94%;
            }

            span {
                display: block;
                float: right;
                cursor: pointer;
                width: 4%;
                font-size: 18px;
                margin-top: 2px;
            }
        }

        .MintHCMPopup-body {
            max-height: 500px;
            overflow-y: auto;
            padding: 20px 20px 0 20px;
            word-wrap: break-word;

            @media only screen and (max-width: 1024px) {
                max-height: 250px;
            }
        }

        .MintHCMPopup-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            padding: 10px 20px 20px 20px;
        }
    }
}